.container {
    max-width: 1280px;
    margin: 0 auto;
    padding-left: $spacer * 2;
    padding-right: $spacer * 2;
    
    @media (min-width: $sm) {
        padding-left: $spacer * 4;
        padding-right: $spacer * 4;
    }
}

.section {
    padding: $spacer * 5;
    position: relative;
    z-index: 1;
    
    &_background {
        background: $gradient-color-2;
    }
    
    &_flying-pixels {
        background: $gradient-color;
    }

    &_head {
        margin-bottom: $spacer * 20;
    }

    &__header {
        text-align: center;
        margin-bottom: $spacer * 6;
    }

    &__subtitle {
        margin-top: $spacer * 4;
        color: $gray-500;
        font-size: $font-size-lg;
    }

    &_payments_variants{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 5%;
    }

    &_payments_box{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    &_payments_tariff{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        width: 380px;
        height: 570px;
        background: #FFFFFF;
        border: 1px solid #BECBF2;
        box-sizing: border-box;
        border-radius: 15px;
        transition: transform .3s;
        margin: auto 1%;
        &:hover {
            transform: scale(1.15);
        } 
    }
    .price{
        display: flex;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 50px;
        line-height: 59px;
        color: #303239;
        span {
            font-size: 19px;
            line-height: 22px;
        }
    }
    .pay_descript{
        text-align: center;
    }

    @media (min-width: $lg) {
        padding: $spacer * 16 0;
        
        &__subtitle {
            margin-top: $spacer * 4;
            color: $gray-500;
            font-size: $font-size-xxl;
        }
    }

    @media (max-width: $md) {
        display: relative;
        align: center;
        overflow-x: hidden;
    }

    @media (max-width: 450px) {
        display: relative;
        align: center;
        overflow-x: hidden;
        padding: 10px 0px 10px;
    }
}



@import 'footer';
@import 'header';
@import 'navigation';