.link {
    text-decoration: none;
    color: #4F5979;
    font-style: normal;
    font-size: 16px;
    display: inline-flex;
    
    &_color-white {
        color: $gray-100;
        
        &:hover {
            text-decoration: underline;
            transition: 0.25s;
        }
    }

    &__icon {
        margin-right: $spacer;
        font-size: $font-size-xxl;;
    }

    // &:hover {
        //text-decoration: underline;
    // }
}

.link_start:hover {
    color: #3646eb;
    transition: 0.25s;
}

.link_end:hover {
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
    transition: 0.25s;
}

.link_i {
    cursor: pointer;
}

.link_i:hover {
    text-decoration-line: none;
    ion-icon {
        padding-left: 25px;
        transition: 0.5s;
    }
}

.select_lang {
    align-items: center;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    background: none;
    font-family: $headings-font-family;
    &_span {
        font-size: small;
        padding-left: 7%;
    }
}

.select_lang:focus {
    outline: none;
}

.api-documentation {
    cursor: pointer;
    padding-top: $spacer * 2;
    border-bottom: solid 1px;
    display: inline-block;
    line-height: normal;
}

.api-doc {
    display: inline-block;
    ion-icon {
        font-size: 24px;
        color: $primary-1;
    }
    @media screen and (max-width: $md) {
        text-align: center;
    }
}
